<div class="layout">
  <div class="container">
    <div class="title">
      Podologie
    </div>
    <div>
      La podologie est l’étude du pied normal et pathologique. <br/><br/>
      Suite à un examen clinique des pieds et du corps dans son ensemble, le podologue réalise sur mesure des semelles
      orthopédiques appelées également, orthèses plantaires.
    </div>

    <div class="section">
      <div class="subtitle marginTop">
        La consultation
      </div>

      <div>
        La consultation dure entre 45min et 1h. Le patient doit se munir de ses divers examens médicaux
        (radio, IRM, échographie, …), de ses paires de chaussures portées fréquemment (chaussures de ville et de sport)
        et d’un short.
      </div>
      <br/>
      <div class="bold">
        Déroulement de la consultation :
      </div>
      <div class="marginBottom steps">
        <div class="marginLeft marginTopS">
          <span class="step">1</span>
          <i class="fa fa-user"></i> <span class="marginLeftIcon">&nbsp;Entretien avec le patient de manière à
        connaitre ses antécédents, son mode de vie ainsi que ses plaintes et besoins.</span>
        </div>
        <div class="marginLeft marginTopS">
          <span class="step">2</span>
          <i class="fa fa-medkit"></i> <span class="marginLeftIcon">Examen clinique : </span>
        </div>
        <div class="marginLeft">
          <div class="marginLeft">
            <ul class="examen-steps browser-default">
              <li>Examen des chaussures </li>
              <li>Prise de mesures biométriques pour évaluer les amplitudes articulaires, la souplesse musculaire et
                certaines déviations</li>
              <li>Palpation</li>
              <li>Tests posturaux</li>
              <li>
                Analyse statique et dynamique sur une plateforme baropodométrique pour évaluer les appuis plantaires et
                la marche
                <div class="row-images marginTopS">
                    <img src="assets/podologie5.jpg" class="responsive-img-same-height">
                    <img src="assets/podologie6.jpg" class="responsive-img-same-height">
                </div>
              </li>

              <li>Analyse de marche/course sur tapis
                  <div class="row-images marginTopS">
                      <img src="assets/podologie7.jpg" class="responsive-img-same-height">
                  </div>
              </li>

              <li>Explications des diverses observations</li>
            </ul>
          </div>
          <div class="marginLeft marginTopS">
            <span class="step">3</span><i class="fa fa-user-md"></i><span class="marginLeftIcon">Suite à l’examen clinique, le podologue établira si nécessaire, une paire de semelles correctrices selon vos
          troubles statiques et dynamiques.</span>
          </div>
        </div>
      </div>

    </div>


    <div class="grey-bg">
      <div class="subtitle">
        Les orthèses plantaires
      </div>

      <div class="row">
        <div class="col s12 m8">
          <p>Pour la fabrication de vos semelles, une empreinte de vos pieds est réalisée à l’aide d’une boite de mousse à
            empreinte ou de plaques de cire chauffées. Ceci permet, après coulage de plâtre dans l’empreinte, d’obtenir un
            moule positif de vos pieds.</p>
        </div>
        <div class="centerImg col s12 m4">
          <img src="assets/podologie1.png" class="responsive-img">
        </div>
      </div>
      <div class="row">
        <div class="centerImg col s12 m4">
          <img src="assets/podologie2.png" class="responsive-img">
        </div>
        <div class="col s12 m8">
          <p>Les matériaux (résine et EVA) sont ensuite sélectionnés par votre podologue et thermoformés sur la base
            du moule de vos pieds.  Il est obtenu ainsi une semelle épousant parfaitement la forme de votre pied et
            la plus fine possible pour être adaptées à vos chaussures.</p>
          <p>La position du pied influence les différents muscles et articulations du corps lors de la marche ou de
            la course. Les semelles permettent la prise en charge de diverses pathologies du pied, de la cheville,
            du genou, de la hanche ainsi que du dos. Elles rétablissent un équilibre statique et dynamique du corps.</p>
        </div>
      </div>
    </div>



    <div class="section marginLeft marginTop">
      <div class="row">
        <div class="col s12 m6 marginTop">
          <span class="bold underline">Facteurs qui favorisent l’apparition de pathologies :</span>
          <ul class="browser-default">
            <li>
              Anomalie de fonctionnement des pieds (amortissement, propulsion, timing des phases de marche)
            </li>
            <li>
              Chaussures inadaptées
            </li>
            <li>
              Changement de terrain d’entraînement
            </li>
            <li>
              Augmentation de la charge d’entraînement
            </li>
            <li>
              Fatigue musculaire
            </li>
            <li>
              Autres...
            </li>
          </ul>
        </div>

        <div class="col s12 m6 marginTop">
          <span class="bold underline">Motifs de consultation :</span>
          <ul class="browser-default">
            <li>
              Troubles de la marche (marche vers l’intérieur ou l’extérieur)
            </li>
            <li>
              Usures des chaussures importantes
            </li>
            <li>
              Déviation des genoux (genoux valgum ou varum)
            </li>
            <li>
              Différence de longueur des membres inférieurs
            </li>
            <li>
              Troubles musculaires
            </li>
            <li>
              Pathologies tendineuses (tendinite TFL, tendinite du tendon d’Achille, fasciite plantaire, tendinite de
              la patte d’oie, périostite tibiale, gonalgie, pubalgie, etc.)
            </li>
            <li>
              Pathologies articulaires (entorse de cheville, chondropathie, etc.)
            </li>
            <li>
              Pathologies osseuses (fracture de fatigue, sésamoïdite, hallux valgus, hallux limitus et rigidus,
              métatarsalgie, talalgie, etc.)
            </li>
            <li>
              Pathologies nerveuses (syndrome de morton, etc.)
            </li>
            <li>
              Pathologies pédiatriques (Sever, Osgood-Schlatter, etc.)
            </li>
            <li>
              Lombalgie, dorsalgie et cervicalgie
            </li>
            <li>
              Autres...
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="doctolib-button"
          href="https://www.doctolib.fr/pedicure-podologue/pau/etienne-le-boedec?utm_medium=referral&amp;utm_campaign=website-button&amp;utm_content=option-5&amp;utm_term=etienne-le-boedec&amp;utm_source=etienne-le-boedec-website-button"
          style="display:block;text-align:center;background-color:#0596DE;color:#ffffff;font-size:14px;overflow:hidden;width:257px;height:40px;border-radius: 4px 4px 0 0;line-height:40px;margin: auto"
          target="_blank" data-reactroot=""><span style="font-size:13px">Prendre rendez-vous en ligne</span><img
          style="height:15px;margin-bottom:3px;vertical-align:middle;width:auto"
          src="https://pro.doctolib.fr/external_button/doctolib-white-transparent.png" alt="Doctolib"/></a>
      </div>
    </div>
  </div>
</div>
