<div class="layout">
  <div class="container">
    <div class="title">
      Pédicurie
    </div>

    <div>
      <p>Le pédicure-podologue est amené à traiter l’ensemble des affections de la peau et des ongles au niveau du pied
      (cor, durillon, ongle incarné, œil de perdrix, hématome sous-unguéal, crevasses, mycose, épaississement d’un ongle,
      …) et réaliser des soins courants d’hygiène et d’entretien des pieds (coupe des ongles, ablation des peaux mortes,
        …) dans des conditions d’hygiène et d’asepsie strictes.</p>

     <p>Le pédicure-podologue est également amené à réaliser des dispositifs permettant de corriger la courbure d’un ongle
      (les orthonyxies), des dispositifs permettant la correction de certaines déformations ou la protection de certaines
      affections (les orthoplasties) et enfin la réalisation de faux ongles (onychoplastie) pour le remplacement total
      ou partiel d’un ongle.</p>
    </div>

    <div class="marginTop">
      <div class="marginTop section">
        <div class="subtitle">Les orthonyxies :</div>
        <div>Fil de Titane fixé sur l’ongle pour corriger sa courbure de manière à diminuer ou supprimer
          les conflits avec l’environnement de l’ongle, souvent à l’origine des douleurs.
        </div>
      </div>

      <div class="section marginTop">
        <div class="subtitle">Les orthoplasties :</div>
        <div>Dispositifs amovibles en élastomère de silicone réalisés sur mesure.</div>
        <div class="row marginTop image-text-row">
          <div class="col s6 m8">
            <li>
              <span class="bold">Orthoplasties protectrices : </span>elles protègent les tissus mous recouvrant
              les articulations déformées.
            </li>
          </div>
          <div class="col s6 m4">
            <img src="assets/pedicurie2.png" class="responsive-img">
          </div>
        </div>
        <div class="row image-text-row">
          <div class="col s6 m8">
            <li>
              <span class="bold">Orthoplasties correctrices </span>(pour hallux valgus, griffe d’orteil, chevauchement
              d’orteils, etc.). Elles vont permettre en plus de la correction apportée de faire régresser les
              hyperkératoses et les douleurs associées aux déformations.
            </li>
          </div>
          <div class="col s6 m4">
            <img src="assets/pedicurie3.png" class="responsive-img">
          </div>
        </div>
      </div>
    </div>




    <div class="marginTop">
      Les soins de pédicurie peuvent être réalisé en cabinet mais également à votre domicile.
      Il est à noter que sur ordonnance, certains patients diabétiques peuvent bénéficier d’une prise en charge par
      l’assurance maladie (27€ au cabinet et 29.50€ à domicile) :
      <ul class="browser-default">
        <li>
          Patients diabétiques de grade 2 : 4 séances maximum par an
        </li>
        <li>
          Patients diabétiques de grade 3 : 6 séances maximum par an
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12">
        <a class="doctolib-button"
           href="https://www.doctolib.fr/pedicure-podologue/pau/etienne-le-boedec?utm_medium=referral&amp;utm_campaign=website-button&amp;utm_content=option-5&amp;utm_term=etienne-le-boedec&amp;utm_source=etienne-le-boedec-website-button"
           style="display:block;text-align:center;background-color:#0596DE;color:#ffffff;font-size:14px;overflow:hidden;width:257px;height:40px;border-radius: 4px 4px 0 0;line-height:40px;margin: 30px auto 60px"
           target="_blank" data-reactroot=""><span style="font-size:13px">Prendre rendez-vous en ligne</span><img
          style="height:15px;margin-bottom:3px;vertical-align:middle;width:auto"
          src="https://pro.doctolib.fr/external_button/doctolib-white-transparent.png" alt="Doctolib"/></a>
      </div>
    </div>
  </div>
</div>
