<div class="layout">
  <div class="container">
    <div class="title">
      La Posturologie
    </div>
    <div>
      La posturologie étudie la position et l’équilibre de l’être humain dans l’espace, à l’état statique et en
      mouvement.
      Pour se tenir debout, l'être humain doit lutter contre la gravité et adapter sa position afin de garder
      l’équilibre.
      Cette adaptation se fait grâce aux informations reçues par les capteurs posturaux et interprétées par le cerveau.
      Dans ce système complexe, le pied (constitués d’une multitude de capteurs sensibles à la pression) est une porte d’entrée majeure
      de la régulation posturale. Un mauvais positionnement du pied va créer un déséquilibre des chaînes
      musculaires posturales et par conséquent, une modification de la posture.
      Une mauvaise posture, quelle que soit l’origine, est coûteuse en énergie et génère des tensions musculaires et
      articulaires pouvant être à l’origine d’une pathologie.
    </div>

    <div class="section">
      <div class="subtitle marginTop">
        Rôle du podologue dans le traitement postural :
      </div>

      <div>

        La reprogrammation posturale va se faire par le biais de la thérapie manuelle et éventuellement par le port de
        semelles.
        Il s’agit d’orthèses plantaires réalisées sur mesure, dont les éléments ne dépassent pas quelques millimètres
        d’épaisseur. Ils vont agir comme des « leurres sensoriels », vont stimuler les capteurs de pressions et ordonner
        au cerveau d’ajuster le tonus musculaire conformément aux stimulations reçues.

      </div>
    </div>

    <div class="section">
      <div class="subtitle marginTop">
        La méthode des chaines GDS (Godelieve Denys Struyf) :
      </div>

      <div>

        C’est une méthode de soins, de prévention et de gestion de soi au quotidien. Cette méthode est basée sur une
        meilleure compréhension du terrain prédisposant et des mécanismes d’apparition de la pathologie.
        Les travaux de Godelieve Denys-Struyf ont permis d’établir six familles de muscles que le corps utilise pour s’exprimer.
        Dans l’excès, ces familles peuvent devenir chaînes de tensions myofasciales et enchaîner le corps dans une typologie.
        Chaque typologie emprisonne le corps dans une attitude rigidifiée, réduisant ainsi la liberté de mouvement tout en
        le marquant d’empreintes spécifiques pouvant conduire à l’apparition d’une pathologie.

        <p>
        L’analyse des signes, le décodage du langage gestuel et les empreintes laissées sur le corps constituent
        l’axe central de cette lecture des chaînes articulaires et musculaires.
        La connaissance d’un terrain prédisposant pour chaque typologie permet d’envisager la prévention et de connaître
        les points faibles et les atouts de chaque typologie. C’est en se basant sur la notion de terrain prédisposant,
        que les Chaînes G.D.S. peuvent être particulièrement bénéfiques dans le cadre de blessures récurrentes, de dysfonctionnements
        ou de tensions articulaires et musculaires. Elle peut donc être appliquée de manière thérapeutique ou préventive.
        </p>
      </div>
    </div>

    <div>
      <p>
        <span class="italic">« Il arrive que des mots gravés profondément dans les tissus du corps crient nos maux. »</span>
        &nbsp;<span class="bold">Godelieve Denys-Struyf</span>
      </p>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="doctolib-button"
           href="https://www.doctolib.fr/pedicure-podologue/pau/etienne-le-boedec?utm_medium=referral&amp;utm_campaign=website-button&amp;utm_content=option-5&amp;utm_term=etienne-le-boedec&amp;utm_source=etienne-le-boedec-website-button"
           style="display:block;text-align:center;background-color:#0596DE;color:#ffffff;font-size:14px;overflow:hidden;width:257px;height:40px;border-radius: 4px 4px 0 0;line-height:40px;margin: auto"
           target="_blank" data-reactroot=""><span style="font-size:13px">Prendre rendez-vous en ligne</span><img
          style="height:15px;margin-bottom:3px;vertical-align:middle;width:auto"
          src="https://pro.doctolib.fr/external_button/doctolib-white-transparent.png" alt="Doctolib"/></a>
      </div>
    </div>
  </div>
</div>
